* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
}

h1 a {
  color:white;
  text-decoration: none;
}

header {
  background-color: #8c1515;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 4px solid #ffdada;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;   
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left img {
  width: 70px;
  height: auto;
}

.header-left h1 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: lighter;
}

.header-right ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.header-right a:hover {
  color: #ffdada;
}

nav.header-right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffdada;
}

.container {
  text-align: center;
}

.title {
  padding-top: 5%;
  padding-bottom: 2%;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  width: 95%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.35); /* Cool shadow effect */
  transition: transform 0.3s;
}

.image:hover {
    transform: scale(1.05); /* Enlarge effect on hover */
}

.text-container1 {
    text-align: center;
    padding: 4%;
    max-width: 1500px;
    margin: 0 auto;  /* Centering the text */
}

p {
    line-height: 1.6;  /* Improved readability */
    color: #333;  /* Text color */
    font-size: 35px;  /* Font size */
}

.Rightside {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  background-color: lightgray;
  max-width: 1300px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.text-section1 {
  font-family: Arial, Helvetica, sans-serif;
  flex: 1 1 50%;
  padding: 20px;
}

.text-section1 h2 {
  font-size: 27px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
}

.text-section1 p {
  font-size: 19px;
  text-align: center;
  line-height: 1.6;
  color: #333333;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ba0c2f;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  display: inline-block;
}

.image-section1 {
  flex: 1 1 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section1 img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  
}

.image-section.hover {
   transform: scale(1.05);
}

.Leftside {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: lightgray;
    max-width: 1300px;
    margin: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.image-section2 {
    flex: 1 1 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-section2 img {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.text-section2 {
    font-family: Arial, Helvetica, sans-serif;
    flex: 1 1 50%;
    padding: 20px;
}
.text-section2 h2 {
    font-size: 27px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
.text-section2 p {
    font-size: 19px;
    text-align: left; /* Changed from center to left */
    line-height: 1.6;
    color: #333333;
    margin-bottom: 30px;
}
