* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
}

header {
  background-color: #8c1515;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  border-bottom: 4px solid #ffdada;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-left img {
  width: 70px;
  height: auto;
}

h1 a {
  color:white;
  text-decoration: none;
}

.header-left h1 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: lighter;
}

.header-right ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.header-right ul :hover{
  color: #8c1515;
  background-color: aqua;
}

.header-right a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.header-right a:hover {
  color: #ffdada;
}

nav.header-right {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a { 
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffdada;
}

.hero {
  background-image: url('/images/stanford-bg.jpg');
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text h2 {
  color: white;
  font-size: 100px;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
}

.footer {
  padding: 40px 0;
  background-color: #8c1515;
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: #4b4c4d;
}

